* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Benzin;
    src: url(fonts/BenzinRegular.ttf);
}
@font-face {
    font-family: BenzinSemibold;
    src: url(fonts/BenzinSemibold.ttf);
}
@font-face {
    font-family: Signal;
    src: url(fonts/signal3.ttf);
}

body {
    font-family: Signal, sans-serif;
    background-color: #000000;
    color: #fff;
    padding: 80px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}
.container {
    /* background-color: #fff; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    width: 300px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab-button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #b1b1b1;
    text-transform: uppercase;
    font-family: Benzin, sans-serif;
}

.tab-button.active {
    color: #fff;
    border-bottom: 2px solid #fff;
    font-family: BenzinSemibold, sans-serif;
}

.form-container {
    display: none;
}

.form-container.active {
    display: block;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid #6a6a6a;
    background-color: transparent;
}
input {
    color: #fff;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: Signal, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}